@{
    ViewBag.Title = "Home Page";
}



<br />


<div class="container">

    <div class="row">

        <div class="col-lg-4">

            <div class="container">
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="~/Content/Imagenes/Index/mision-proposito.jpg" alt="Card image" width="300" height="300">
                    <div class="card-body" style="background-color: #CFCECD">
                        <h4 class="card-title text-center">Misión</h4>
                        <p class="card-text text-center">Nuestra misión es matar a todos los que podamos y acabar con esta mierda</p>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-lg-4">

            <div class="container">
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="~/Content/Imagenes/Index/mision-proposito.jpg" alt="Card image" width="300" height="300">
                    <div class="card-body" style="background-color: #CFCECD">
                        <h4 class="card-title text-center">Misión</h4>
                        <p class="card-text text-center">Nuestra misión es matar a todos los que podamos y acabar con esta mierda</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-lg-4">

             <div class="container">
                 <div class="card" style="width:300px">
                            <img class="card-img-top" src="~/Content/Imagenes/Index/mision-proposito.jpg" alt="Card image" width="300" height="300">
                     <div class="card-body" style="background-color: #CFCECD">
                         <h4 class="card-title text-center">Misión</h4>
                         <p class="card-text text-center">Nuestra misión es matar a todos los que podamos y acabar con esta mierda</p>
                     </div>
                 </div>
             </div>
         </div>

    </div>

</div>
