@{
    ViewBag.Title = "Home Page";
}


<br />
<div class="text-center">
    <h1><b>Nomipro</b></h1>
</div>
<br />

<div class="container-fluid">
    <!--Cartas de Misión, Visión, Objetivos-->
    <div class="row">
        <br />
        <!--Carta Misión-->
        <div class="col-lg-4">
            <div class="card" style="width:300px; border: black 3px solid;">
                <img class="card-img-top" src="~/Content/Imagenes/Index/Mision.jpg" alt="Card image" width="294" height="300">
                <div class="card-body" style="background-color: #CFCECD">
                    <br />
                    <h3 class="card-title text-center"><b>Misión</b></h3>
                    <p class="card-text text-center">
                        La misión de Nomipro consisten en  brindar el apoyo, guia y soporte a las empresas para facilitarles
                        el registro de todos los empleados tantos sus pagos salariales como su datos y gastos parafiscales. Todo esto por medio de un software
                        web que estara disponible las 24 horas, los 7 días de la semanas. De esta menera se puede llevar un control de las jornadas laborales y
                        las bonificaciones salariales.
                    </p>
                    <br />
                </div>
            </div>
        </div>
        <br />
        <!--Carta Visión-->
        <div class="col-lg-4">
            <div class="card" style="width:300px; border: black 3px solid;">
                <img class="card-img-top" src="~/Content/Imagenes/Index/Vision.jpg" alt="Card image" width="294" height="300">
                <div class="card-body" style="background-color: #CFCECD">
                    <br />
                    <h3 class="card-title text-center"><b>Visión</b></h3>
                    <br />
                    <p class="card-text text-center">
                        Ser la herramienta de elección por las empresas Colombianas para llevar la contabilidad de los salarios
                        y registros de empleo, Además de ser conocida en otros paises de America Latina como una de las entitades
                        que apoya a sus clientes en todo momento cuando se les presenten alguna duda o problema con el aplicativo.
                    </p>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <br />
        <!--Carta Objetivos-->
        <div class="col-lg-4">
            <div class="card" style="width:300px; border: black 3px solid;">
                <img class="card-img-top" src="/Content/Imagenes/Index/Objetivos.jpg" alt="Card image" width="294" height="300">
                <div class="card-body" style="background-color: #CFCECD">
                    <br />
                    <h3 class="card-title text-center"><b>Objetivos</b></h3>
                    <p class="card-text text-center">
                        • Brindar un excelente servicio y facil de usar. <br />
                        <br />
                        • Dar un estupendo soporte y apoyo en cuanto a las dudas de nuestros clientes.<br />
                        <br />
                        • Mejorar y adaptar el software cada día en base a las necesidades del mercardo.
                    </p>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
